<header class="bg-dark py-3">
  <div class="container px-4 px-lg-3 my-5">
    <div class="text-white container">
        <div class="row justify-content-md-center">
            <div class="col-md-auto">
                <h1 class="display-4 fw-bolder">Shop</h1>
              </div>
              <div class="col-md-auto">
                <img src="assets/shop-icon-transperant.png" alt="icon" width="200px" />
              </div>
              <div class="col-md-auto">
                <h1 class="display-4 fw-bolder">Sphere</h1>
              </div>
            </div>
        <div class="row justify-content-md-center">
            <div class="col-md-auto">
      <p class="lead fw-normal text-white-50 mb-0">The leading E-Commerce shop</p>
    </div>
</div>

  </div>
</div>
</header>

<!-- <header class="bg-dark py-3">
    <div class="container px-4 px-lg-3 my-5">
        <div class="text-center text-white">
            <img src="assets/shop-icon-transperant.png" alt="icon" width="200px"/>
            <h1 class="display-4 fw-bolder">Shop Sphere</h1>
            <p class="lead fw-normal text-white-50 mb-0">The leading E-Commerce shop</p>
        </div>
    </div>
  </header>
 -->
